* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

body {
  background-color: rgb(31, 31, 31);
}

header {
  height: 100px;
  width: 100%;
  background-color: rgb(42, 174, 222);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

main {
  width: 90vw;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.container1 {
  width: 100%;
  height: 75%;
  background-color: rgb(238, 238, 238);
}

.container2 {
  width: 100%;
  height: 10%;
}

h2 {
  margin: 0 0 0 65px;
}

.rosterWrap {
  width: 100%;
  height: 100%;
  padding: 0 15px 0 85px;
}

.id {
  float: right;
}

.infoWrap {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
  justify-content: left;
}

.info {
  width: 100%;
  display: flex;
  align-items: normal;
  justify-content: left;
  flex-direction: column;
}

.row {
  width: 100%;
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
}
.box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
}

.moviesList {
  width: 100%;
  flex-direction: column;
  display: flex;
  justify-content: left;
  align-items: flex-start;
}

.moviesBox > p {
  height: 40px;
  margin: 0 0 0 70px;
}

p {
  font-size: 18pt;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.label {
  font-weight: 700;
}

.normal {
  margin: 0 0 0 7px;
}

#name {
  border-bottom: 3px solid rgb(42, 174, 222);
  padding-bottom: 3px;
  font-weight: 750;
  letter-spacing: 1px;
}

.buttonsWrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.blueButton {
  background-color: rgb(42, 174, 222);
  border-radius: 17px;
  margin: 0 10px;
  font-size: 16pt;
  height: 45px;
}

.size1 {
  width: 110px;
}

.size2 {
  width: 80px;
}

.endButton {
  font-size: 20pt;
}

.button {
  color: white;
  font-weight: 700;
}

button {
  background-color: transparent;
  border: none;
}